apiVersion: networking.istio.io/v1 
kind: VirtualService
metadata:
  name: home
  namespace: hello-world
spec:
  hosts:
  - hello.tkellen-us.fast.dev.wescaleout.cloud
  - hello.matt-us.fast.dev.wescaleout.cloud
  gateways:
  - ingress/north-south
  http:
    - match:
        - uri:
            prefix: "/oauth2/"
      rewrite:
        authority: oauth2-proxy.ingress.svc.cluster.local
      route:
        - destination:
            host: home.hello-world.svc.cluster.local
            port:
              number: 80
    - route:
      - destination:
          host: home.hello-world.svc.cluster.local
          port:
            number: 80